.logo-box {
  min-height: 100vh;
  background-color: green;
}

.logo-box-nav {
  a { color: black }
  text-align: center;
}

.menu, .order, .confirm {
  min-height: 100vh;
}

.menu, .confirm {
  text-align: center;
}

h1 { font-size: 3rem }
h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem }

.section {
  h2 {
    text-align: center;
    padding-top: 80px; // shift below navbar
  }
}

.order-now { margin-top: 80px }


.map {
  width: 300px;
  height: 300px;
  margin: 1em;
}

.footer {
  text-align: center;
}

