.logoBox {
  height: 100vh;
  background-color: green;
}

.menu {
  text-align: center;
}

h1 { font-size: 3rem }
h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem }

.section {
  padding-top: 40px;

  h2 { text-align: center; }
}

.map {
  width: 300px;
  height: 300px;
}

.footer {
  text-align: center;
}

