<!DOCTYPE html>
<html>
  <head>
    <title>Feedme</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ asset "feedme.css" }}">

    <script src="{{ asset "elm.js" }}"></script>
  </head>

  <body>
    <div id="elm-container">
    </div>

    <script type="text/javascript" charset="utf-8">
      var node = document.getElementById('elm-container')
      var flags = {{.Flags}}
      var elmApp = Elm.{{.App}}.embed(node, flags)

      elmApp.ports.scrollIntoView.subscribe(function(domId) {
       var el = document.getElementById(domId)
       el ? el.scrollIntoView({behavior: 'smooth'}) : null
      })
    </script>
  </body>
</html>
