<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Feedme</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="stylesheet" href="{{ asset "feedme.css" }}">

    <script src="{{ asset "elm.js" }}"></script>
  </head>

  <body>
    <div id="elm-container">
    </div>

    <script type="text/javascript" charset="utf-8">
      var node = document.getElementById('elm-container')
      var flags = {{.Flags}}
      var elmApp = Elm.{{.App}}.embed(node, flags)

      elmApp.ports.scrollIntoView.subscribe(function (domId) {
        document.getElementById(domId).scrollIntoView()
      })

      window.onscroll = function() {
        var bodyRect = document.body.getBoundingClientRect()
        var menuDiv = document.getElementById('menu')
        var yPosition = window.pageYOffset || document.body.scrollTop
        var menuTop = 0
        var menuHeight = 0

        if (menuDiv) {
          var menuRect = menuDiv.getBoundingClientRect()
          menuTop = menuRect.y - bodyRect.y
          menuHeight = menuRect.height
        }

        elmApp.ports.scrollPosition.send([Math.round(yPosition), menuTop, menuHeight]);
      }

      elmApp.ports.createEventSource.subscribe(function (url) {
        var source = new EventSource(url)
        source.onmessage = function(e) {
          elmApp.ports.ssEvents.send(e.data)
        }
      })

    </script>
  </body>
</html>
